name: Setup Android NDK modified(export NDK_HOME)
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
uses: HoshinoSuzumi/setup-ndk@v1.5.4
